.bg-header {
    background-color: black;
}

.navbar {
    width: 50%;
}

.btn-nav {
    color: #ECC696;
    padding: 16px;
    font-size: 22px;
    text-decoration: none !important;
    border: none;
}

.btn-nav:hover {
    color: #f97e6c;
}

.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none !important;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    text-decoration: none !important;
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* main.css */
.banner {
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.card-img {
    width: 100%;
    height: 100%;
}

.contact {
    position: absolute;
    top: 30%;
    right: 10%;
    color: white;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
}

.address h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.address ul li {
    list-style: none;
    padding: 7px 0px;
}

.hour ul li {
    list-style: none;
    padding: 7px 0px;
}

.address ul li a {
    text-decoration: none;
    color: black;
}

.hour ul li a {
    text-decoration: none;
    color: black;
}

.address i {
    margin-right: 15px;
    color: #f97e6c;
}

.hour h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.hour i {
    margin-right: 15px;
    color: #f97e6c;
}

.follow h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.follow ul li {
    display: inline-block;
    padding: 0 5px;
}

.follow ul li a {
    text-decoration: none;
}

.follow i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: white;
    background-color: black;
    text-align: center;
}

.form button {
    background-color: #f97e6c;
    color: white;
    width: 100%;
    padding: 10px;
}


/* Footer css */
.input input {
    width: 450px;
    padding: 5px 10px;
    border: none;
    border: 1px solid white;
}

.input button {
    padding: 6px 25px;
    border: none;
    background-color: black;
    color: white;
}

.section {
    background-color: #f97e6c;
    padding: 14px;
}

.section h4 {
    color: white;
}

.footer {
    background-color: black;
}

.image img {
    width: 200px;
}

.address,
.time,
.mobie {
    margin-top: 15px;
}

.location,
.clock,
.phone {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f97e6c;
    color: white;
    margin-right: 10px;
}

span {
    color: #e5e5e5;
}

h4 {
    color: white;
}

.shop i {
    display: none;
}

.help i {
    display: none;
}

.more i {
    display: none;
}

.shop ul {
    list-style: none;
    padding: 0px;
}

.help ul {
    list-style: none;
    padding: 0px;
}

.more ul {
    list-style: none;
    padding: 0px;
}

.shop ul li {
    margin-top: 15px;
}

.help ul li {
    margin-top: 15px;
}

.more ul li {
    margin-top: 15px;
}

.shop ul li a {
    color: #ecc696;
    text-decoration: none;
}

.help ul li a {
    color: #ecc696;
    text-decoration: none;
}

.more ul li a {
    color: #ecc696;
    text-decoration: none;
}

.shop ul li:hover a {
    color: #f97e6c;
}

.help ul li:hover a {
    color: #f97e6c;
}

.more ul li:hover a {
    color: #f97e6c;
}

.social ul {
    padding: 0px;
}

.social ul li {
    display: inline-block;
    padding: 0px 5px;
}

.yt,
.fb,
.ins {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f97e6c;
    color: white;
}

@media screen and (max-width:320px) {
    .section h4 {
        font-size: 15px;
    }

    .input input {
        width: 200px;
        padding: 5px 8px;
        border: none;
        border: 1px solid white;
    }

    .input button {
        padding: 6px 15px;

    }

    .row {
        justify-content: space-between;
    }

    .shop i {
        display: block;
    }

    .help i {
        display: block;
    }

    .more i {
        display: block;
    }

    .shop ul li a {
        display: none;
    }

    .help ul li a {
        display: none;
    }

    .more ul li a {
        display: none;
    }
    .contact{
        font-size: 20px;
    }
}
.line-height-0{
    line-height: unset !important;
}